<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NRC - ICLA</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/round-about.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Information, Counselling and Legal Assistance</a>
            <a href="{{ url_for('send_sms') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Send SMS to people</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">About Us
        <small>Norwegian Refugee Council - ICLA</small>
      </h1>
      <p>We are Information, Counselling and Legal Assistance(ICLA) group of Norwegian Refugee Council(NRC). </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">You need information about</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
           <a href="{{ url_for('legal') }}">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/006-balance.svg" alt="legal information" width="150" height="150">
          </a>
          <h3>Legal
          </h3>
          <p>Indentity registeration, Possession documents, Human rights information, information about institutions and counselling of other legal matters. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/005-clean.svg" alt=""  width="150" height="150">
          <h3>Water
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/004-simple-house-thin.svg" alt="" width="150" height="150">
          <h3>Shelter
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/003-open-book.svg" alt="" width="150" height="150">
          <h3>Education
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/002-apple.svg" alt="" width="150" height="150">
          <h3>Food Security
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/001-tent.svg" alt="" width="150" height="150">
          <h3>Camp Management
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <a href="https://www.nrc.no/">NRC</a></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
